
@{
    ViewBag.Title = "CHARTS";
}

<div>
    <img src="@Url.Action("column")" alt="Chart" />
</div>
<div>
    <img src="@Url.Action("Doughnut")" alt="Chart" />
</div>
<div>
    <img src="@Url.Action("Pie")" alt="Chart" />
</div>


